{% load static %}
<h1>Lista de Compras</h1>
<style>
    .icon {
        width:1em;
        position:relative;top: 3px; /* 1em é 100% o tamanho da fonte*/
    }
    input[type=number] {width: 60px;}
    /* #id_quantidade {} */
</style>

<ul>
{% for x in itens %}
    <li><b>id#{{ x.id }}</b> | {{x.nome}} - {{x.quantidade}} unidade(s)
        <a href="{% url 'listacompras:incrementa' x.id %}">
            <img src="{% static 'add_button.svg' %}" alt="" class="icon"></a>
        {% if x.quantidade > 1 %}
            <a href="{% url 'listacompras:decrementa' x.id %}">
                <img src="{% static 'remove_button.svg' %}" alt="" class="icon"></a>
        {% endif %}
        <a href="{% url 'listacompras:elimina' x.id %}">
            <img src="{% static 'delete_button.svg' %}" alt="" class="icon"></a>
        <br><br>
    </li>
{% endfor %}
</ul>
<fieldset style="width: 300px;">
    <legend>novo</legend>
    <form action="" method="post">
        {% csrf_token %}
        {{formulario.as_p}}
        <br>
        <button>adicionar item</button>
    </form>
</fieldset>
