<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Equipa</title>
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <style>
        body {background-color: rgb(222, 224, 223); font-family: calibri;}
        header {height: 15vh; color: black}
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgb(48, 47, 47);
            color: rgb(253, 252, 252);
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <h1> Bem-vindo(a) à Plataforma de Gestão da sua Equipa</h1>
    </header>
    <nav>

    </nav>
    <main>
        {% block conteudo %}
          
        {% endblock %}
    </main>
    <br>
    <footer>
        TERESA DINIS &COPY; 2024
    </footer>
</body>
</html>