{% extends 'membros/base.html' %}

{% block conteudo %}

    <style>
        label {width: 110px; display:inline-block;}
        .icon {width: 24px; margin:5px;}
    </style>

    {% load static %}
    <a href="{% url 'membros:home' %}">
        <img src="{% static 'return_button.svg' %}" class="icon">
    </a>
    <h2>Lista de Membros</h2>
    <a href="{% url 'membros:pesquisa' %}"><button>Pesquisa avançada</button></a>
    <ul>
        {% for membro in membros %}
            <li>
                <b>id#{{ membro.id }}</b> | {{ membro.nome_completo }} - {{ membro.categoria }} | <a href="{% url 'membros:details' membro.id %}">Ver detalhes</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}