{% extends 'livraria/base.html' %}
{% load static %}

{% block header %}

<style>
main {display:flex; background-color: white;gap:1em; justify-content: space-evenly;
    flex-wrap: wrap;
}
.livro { 
    /* border:1px solid blue;   */
   width: 30vw;  /* viewport width */
   display:flex; flex-direction: column; justify-content: center;
   align-items: center;
}
.livro img:nth-child(0) {width:200px;height: 250px; object-fit: cover;
/* border:1px solid red; */
}
</style>

{% endblock %}


{% block conteudo %}

    {% if editora %}
        <h2>{{editora.nome}}</h2>
    {% endif %}


    {% for livro in livros %}
    <div class="livro">
        <h3>{{livro.nome}}</h3>
        {% if livro.imagem %}
           <a href="{% url 'livraria:detalhes_livro' livro.id %}">
            <img src="{{livro.imagem.url}}" alt="" width="200"></a>
        {% endif %}
        <br>
        <a href="{% url 'livraria:elimina_livro' livro.id %}">
           <img src="{% static 'x-circle.svg' %}"></a>

           
    </div>
    {% endfor %}
    {% if n == 0 %}
        <p>sem resultados</p>
    {% endif %}

{% endblock %}
