<div style="text-align: center;">
  <h1 id="inicio" style="text-transform: uppercase;">Os meus Posts</h1>
</div>
<style>
.post {border:1px solid; padding:1em; width: 37vw; margin: 1em auto;}
.post img { width: 100%;}
.post h3 {text-align: center; text-transform: uppercase;}
.post .icon {width: 24px; margin:5px;}
.post-icon {text-align: center;}
.image-grid {
  display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas de largura igual */
    gap: 30px; /* Espaçamento entre os elementos da grade */
    max-width: 1400px; /* Define uma largura máxima para o contêiner */
    margin: 0 auto; /* Centraliza o contêiner na página */
}
</style>

<!-- Carrega os arquivos estáticos -->
{% load static %}

<!-- Botão para adicionar post -->
<div style="text-align: center; color: grey;">
  <a href="{% url 'posts:add' %}">Adicionar Post</a>
  &nbsp|&nbsp
  <a href="{% url 'posts:addcategory' %}">Adicionar Categoria</a>
</div>
<br>

<!-- Inicia o contêiner de grade -->
<div class="image-grid">
  <!-- Loop para exibir cada post -->
  {% for x in posts %}
    <div class="post">
      <h3>{{ x.titulo }}</h3>
      <div class="post-icon">
        <a href="{% url 'posts:details' x.id %}">
          <img src="{{ x.imagem.url }}" title="Clique para saber mais!" alt="Imagem do post">
        </a>
        <a href="{% url 'posts:delete' x.id %}">
          <img src="{% static 'delete_button.svg' %}" class="icon" alt="Deletar post"></a>
        <a href="{% url 'posts:edit' x.id %}">
          <img src="{% static 'edit_button.svg' %}" class="icon" alt="Editar post">
        </a>
      </div>
    </div>
  {% endfor %}
</div>
<!-- Fim do contêiner de grade -->
<br><br>
<!-- Botão de voltar ao início -->
<div style="text-align: center;">
  <a href="#inicio"><img src="{% static 'top_button.svg' %}" class="icon" alt="Voltar ao início">Voltar ao Início</a>
</div>

<br>
<hr>

<!-- Rodapé -->
<div class="footer-text" style="text-align: center;">
  TERESA DINIS &COPY; 2024
</div>