<h2>App Posts</h2>
<style>
.post {border:1px solid; padding:1em; width: 25vw; margin: 1em auto;}
.post img { width: 100%;}
.post h3 {text-align: center; text-transform: uppercase;}
.post .icon {width: 24px; margin:5px;}
.post-icon {text-align: center;}
</style>
{% load static %}

<a href="{% url 'posts:add' %}">adicionar post</a>

{% for x in posts %}
   <div class="post">
      <h3>{{x.titulo}}</h3>
      <div class="post-icon">
        <a href="{% url 'posts:details' x.id %}">
          <img src="{{x.imagem.url}}" alt="">
        </a>
        <a href="{% url 'posts:delete' x.id %}">
          <img src="{% static 'delete_button.svg' %}" class="icon"></a>
  
        <a href="{% url 'posts:edit' x.id %}">
          <img src="{% static 'edit_button.svg' %}" class="icon">
        </a> 
      </div>
   </div>
   <br><br>
{% endfor %}

<!--
editar
base.html
foreign key
-->